{% extends "base_generic.html" %}

{% block content %}
<h1 class="title myfavorite">Buydb-MetroCode-Filter</h1>

<form method='POST' class = "content">
    {% csrf_token %}
	請輸入捷運站代碼（例如：R12）： {{ BuydbFilter.form.MrtCode }} 
    請輸入捷運站名稱（例如：雙連捷運站）：{{ BuydbFilter.form.MrtName }} 
    <input type="submit" class="btn btn-primary" value="查詢" />
</form>
	
<br />
<table class="table">
    <thead>
        <th>Title</th>
        <th>MrtCode</th>
		<th>MrtName</th>
		<th>Address</th>
		<th>FloorType</th>
		<th>RoomNum</th>
		<th>Price（NT/月）</th>
		<th>Size (坪)</th>
		<th>Floor</th>
    </thead>
    <tbody>
        {% for buydb in BuydbFilter.qs %}
        <tr>
            <td><a href="{{ buydb.get_absolute_url }}">{{ buydb.Title }} </a></td>
            <td>{{ buydb.MrtCode }}</td>
			<td>{{ buydb.MrtName }}</td>
			<td>{{ buydb.Address }}</td>
			<td>{{ buydb.FloorType }}</td>
			<td>{{ buydb.RoomNum }}</td>
			<td>{{ buydb.Price }}</td>
			<td>{{ buydb.Size }}</td>
			<td>{{ buydb.Floor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock  %}